@import "mixins.styl"
//class
for i in (0..20)
	.delay{i*10}
		cross-properties(animation-delay, i*0.1s)
.animated
	cross-properties(animation-duration, 1s)
	cross-properties(animation-fill-mode, both)

.animated.infinite
	cross-properties(animation-iteration-count, infinite)

// .animated.half
// 	cross-properties(animation-duration, .5s)

.animated.hinge
	cross-properties(animation-duration, 2s)

.animated.bounceIn,
.animated.bounceOut
	cross-properties(animation-duration, .75s)

.animated.flipOutX,
.animated.flipOutY
	cross-properties(animation-duration, .75s)

//animations
@keyframes bounceIn
	from
	20%
	40%
	60%
	80%
	to
		cross-properties(animation-timing-function, cubic-bezier(0.215, 0.610, 0.355, 1.000))
	0%
		opacity 0
		transform(scale3d(.3, .3, .3))
	20%
		transform(scale3d(1.1, 1.1, 1.1))
	40%
		transform(scale3d(.9, .9, .9))
	60%
		opacity 1
		transform(scale3d(1.03, 1.03, 1.03))
	80%
		transform(scale3d(.97, .97, .97))
	to
		opacity 1
		transform(scale3d(1, 1, 1))

.bounceIn
	cross-properties(animation-name, bounceIn)

@keyframes bounceInUp
	from
	60%
	75%
	90%
	to
		cross-properties(animation-timing-function, cubic-bezier(0.215, 0.610, 0.355, 1.000))
	from
		opacity 0
		transform(translate3d(0, 3000px, 0))
	60%
		opacity 1
		transform(translate3d(0, -20px, 0))
	75%
		transform(translate3d(0, 10px, 0))
	90%
		transform(translate3d(0, -5px, 0))
	to
		transform(translate3d(0, 0, 0))

.bounceInUp
	cross-properties(animation-name, bounceInUp)

@keyframes vanishIn
	0%
		opacity 0
		cross-properties(transform-origin, 50% 50%)
		transform(scale(2, 2))
		core-options(filter,blur(90px))
	100%
		opacity 1
		cross-properties(transform-origin, 50% 50%)
		transform(scale(1, 1))
		core-options(filter,blur(0px))

.vanishIn
	cross-properties(animation-name, vanishIn)


@keyframes bounceInDown
	0%
	100%
	60%
	75%
	90%
		cross-properties(animation-timing-function, cubic-bezier(0.215, .61, .355, 1))
	0%
		opacity 0
		transform(translate3d(0, -3000px, 0))
	60%
		opacity 1
		transform(translate3d(0, 25px, 0))
	75%
		opacity 1
		transform(translate3d(0, -10px, 0))
	90%
		opacity 1
		transform(translate3d(0, 5px, 0))
	100%
		opacity 1
		transform(none)

.bounceInDown
	cross-properties(animation-name, bounceInDown)

@keyframes bounceOut
	20%
		transform(scale3d(.9, .9, .9))
	50%
	55%
		opacity 1
		transform(scale3d(1.1, 1.1, 1.1))
	to
		opacity 0

.bounceOut
	cross-properties(animation-name, bounceOut)

@keyframes bounce
	from
	20%
	53%
	80%
	to
		cross-properties(animation-timing-function, cubic-bezier(0.215, 0.610, 0.355, 1.000))
		transform(translate3d(0,0,0))
	40%
	43%
		cross-properties(animation-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060))
		transform(translate3d(0, -30px, 0))
	70%
		cross-properties(animation-timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060))
		transform(translate3d(0, -15px, 0))
	90%
		transform(translate3d(0,-4px,0))

.bounce
	cross-properties(animation-name, bounce)
	cross-properties(transform-origin, center bottom)

@keyframes fadeIn
	from
		opacity 0
	to
		opacity 1

.fadeIn
	cross-properties(animation-name, fadeIn)

@keyframes fadeOut
	from
		opacity 1
	to
		opacity 0

.fadeOut
	cross-properties(animation-name, fadeOut)

@keyframes fadeOutDown
	from
		opacity 1
	to
		opacity 0
		transform(translate3d(0, 100%, 0))

.fadeOutDown
	cross-properties(animation-name, fadeOutDown)

@keyframes fadeOutLeft
	from
		opacity 1
	to
		opacity 0
		transform(translate3d(-100%, 0, 0))

.fadeOutLeft
	cross-properties(animation-name, fadeOutLeft)

@keyframes fadeOutRight
	from
		opacity 1
	to
		opacity 0
		transform(translate3d(100%, 0, 0))

.fadeOutRight
	cross-properties(animation-name, fadeOutRight)

@keyframes fadeOutUp
	from
		opacity 1
	to
		opacity 0
		transform(translate3d(0, -100%, 0))

.fadeOutUp
	cross-properties(animation-name, fadeOutUp)

@keyframes fadeInDownBig
	from
		opacity 0
		transform(translate3d(0, -2000px, 0))

	to
		opacity 1
		transform(none)

.fadeInDownBig
	cross-properties(animation-name, fadeInDownBig)

@keyframes fadeInUp
	from
		opacity 0
		transform(translate3d(0, 100%, 0))
	to
		opacity 1
		transform(none)

.fadeInUp
	cross-properties(animation-name, fadeInUp)

@keyframes fadeInDown
	from
		opacity 0
		transform(translate3d(0, -100%, 0))

	to
		opacity 1
		transform(none)

.fadeInDown
	cross-properties(animation-name, fadeInDown)

@keyframes fadeInLeft
	from
		opacity 0
		transform(translate3d(-100%, 0, 0))
	to
		opacity 1
		transform(none)

.fadeInLeft
	cross-properties(animation-name, fadeInLeft)

@keyframes fadeInRight
	from
		opacity 0
		transform(translate3d(100%, 0, 0))
	to
		opacity 1
		transform(none)

.fadeInRight
	cross-properties(animation-name, fadeInRight)

@keyframes zoomIn
	from
		opacity 0
		transform(scale3d(.3, .3, .3))
	50%
		opacity 1


.zoomIn
	cross-properties(animation-name, zoomIn)

@keyframes zoomInDown
	from
		opacity 0
		transform( scale3d(.1, .1, .1) translate3d(0, -3500px, 0))
		cross-properties(animation-timing-function, cubic-bezier(0.550, 0.055, 0.675, 0.190))
	60%
		opacity 1
		transform( scale3d(.475, .475, .475) translate3d(0, 60px, 0))
		cross-properties(animation-timing-function, cubic-bezier(0.175, 0.885, 0.320, 1))

.zoomInDown
	cross-properties(animation-name, zoomInDown)

@keyframes zoomOut
	from
		opacity 1
	50%
		opacity 0
		transform(scale3d(.3, .3, .3))
	to
		opacity 0

.zoomOut
	cross-properties(animation-name, zoomOut)

@keyframes flipInX
	from
		transform(perspective(400px) rotate3d(1, 0, 0, 90deg))
		cross-properties(animation-timing-function, ease-in)
		opacity 0
	40%
		transform(perspective(400px) rotate3d(1, 0, 0, -20deg))
		cross-properties(animation-timing-function, ease-in)
	60%
		transform(perspective(400px) rotate3d(1, 0, 0, 10deg))
		opacity 1
	80%
		transform(perspective(400px) rotate3d(1, 0, 0, -5deg))
	to
		transform(perspective(400px))

.flipInX
	cross-properties(backface-visibility, visible !important)
	cross-properties(animation-name, flipInX)

@keyframes flipInY
	from
		transform( perspective(400px) rotate3d(0, 1, 0, 90deg))
		cross-properties(animation-timing-function, ease-in)
		opacity 0
	40%
		transform(perspective(400px) rotate3d(0, 1, 0, -20deg))
		cross-properties(animation-timing-function, ease-in)
	60%
		transform(perspective(400px) rotate3d(0, 1, 0, 10deg))
		opacity 1
	80%
		transform(perspective(400px) rotate3d(0, 1, 0, -5deg))
	to
		transform(perspective(400px))

.flipInY
	cross-properties(backface-visibility, visible !important)
	cross-properties(animation-name, flipInY)

@keyframes rubberBand
	from
		transform(scale3d(1, 1, 1))
	30%
		transform(scale3d(1.25, 0.75, 1))
	40%
		transform(scale3d(0.75, 1.25, 1))
	50%
		transform(scale3d(1.15, 0.85, 1))
	65%
		transform(scale3d(.95, 1.05, 1))
	75%
		transform(scale3d(1.05, .95, 1))
	to
		transform(scale3d(1, 1, 1))

.rubberBand
	cross-properties(animation-name, rubberBand)

@keyframes tada
	from
		transform(scale3d(1, 1, 1))
	10%
	20%
		transform(scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg))
	30%
	50%
	70%
	90%
		transform(scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg))
	40%
	60%
	80%
		transform(scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg))
	to
		transform(scale3d(1, 1, 1))

.tada
	cross-properties(animation-name, tada)

@keyframes pulse
	0%
	100%
		transform(scale3d(.95,.95,.95))
		opacity 1
	50%
		opacity .8
		transform(scale3d(1.1,1.1,1.1))

.pulse
	cross-properties(animation-name, pulse)

@keyframes jackInTheBox
	from
		opacity 0
		transform(scale(0.1) rotate(30deg))
		cross-properties(transform-origin, center bottom)
	50%
		transform(rotate(-10deg))
	70%
		transform(rotate(3deg))
	to
		opacity 1
		transform(scale(1))

.jackInTheBox
	cross-properties(animation-name, jackInTheBox)

@keyframes spin
	from
		transform(rotate(0deg))
	to
		transform(rotate(359deg))

.spin
	animate(spin, 2s infinite linear)
	display inline-block

@keyframes fallObject
	0%
	100%
	60%
	75%
	90%
		cross-properties(animation-timing-function, cubic-bezier(0.215, .61, .355, 1))
	0%
		opacity 0
		transform(translate3d(0, -3000px, 0))
	60%
		opacity 1
		transform(translate3d(0, 25px, 0) rotate3d(0,1,1,-8deg))
	75%
		opacity 1
		transform(translate3d(0, -10px, 0) rotate3d(0,1,1,8deg))
	90%
		opacity 1
		transform(translate3d(0, 5px, 0) rotate3d(0,1,1,-4deg))
	100%
		opacity 1
		transform(none)

.fallObject
	cross-properties(transform-origin, 50% 100%)
	cross-properties(animation-name, fallObject)
/*own animations*/



@keyframes btn-border
	0%
		opacity .6
		transform(scale(1))
	100%
		opacity 0
		transform(scale(1.05))

@keyframes ripple
	100%
		opacity 0
		transform(scale(2.5))

@keyframes delayOpacity
	0%
	50%
	100%
		opacity 1
	25%
	75%
		opacity 0.2

@keyframes cloud
	0%
		left -30%
	100%
		left 130%
@keyframes cloud-reverse
	0%
		left 130%
	100%
		left -30%
