@font-face
	font-family 'fontello'
	src url('/fonts/fontello.eot')
	src url('/fonts/fontello.eot#iefix') format('embedded-opentype'), url('/fonts/fontello.woff2') format('woff2'), url('/fonts/fontello.woff') format('woff'), url('/fonts/fontello.ttf') format('truetype'), url('/fonts/fontello.svg#fontello') format('svg')
	font-weight normal
	font-style normal

[class^="icon-"]:before
[class*=" icon-"]:before
	font-family "fontello"
	font-style normal
	font-weight normal
	speak none
	display inline-block
	text-decoration inherit
	width 1em
	margin-right .2em
	text-align center
	font-variant normal
	text-transform none
	line-height 1em
	margin-left .2em
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-rendering optimizeLegibility

.icon-seguros:before
	content '\e802'
.icon-credito:before
	content '\e801'
.icon-arrow-up:before
	content '\e803'
.icon-arrow-down:before
	content '\e804'

.tooltip-inner
	max-width 200px
	padding 3px 8px
	color #fff
	text-align center
	text-decoration none
	background-color #545454
	border 1px solid #fff
	border-radius 4px
.tooltip-arrow
	position absolute
	width 0
	height 0
	border-color transparent
	border-style solid
.tooltip
	position absolute
	z-index 1070
	display block
	font-size 12px
	line-height 1.4
	visibility visible
	filter(alpha, opacity=0)
	opacity 0
	&.in
		filter(alpha, opacity=0)
		opacity .9
	&.top
		padding 5px 0
		margin-top -3px
	&.right
		padding 0 5px
		margin-left 3px
	&.bottom
		padding 5px 0
		margin-top 3px
	&.left
		padding 0 5px
		margin-left -3px
	&.top
		.tooltip-arrow
			bottom 0
			left 50%
			margin-left -5px
			border-width 5px 5px 0
			border-top-color #fff
	&.top-left
		.tooltip-arrow
			bottom 0
			left 5px
			border-width 5px 5px 0
			border-top-color #fff
	&.top-right
		.tooltip-arrow
			right 5px
			bottom 0
			border-width 5px 5px 0
			border-top-color #fff
	&.right
		.tooltip-arrow
			top 50%
			left 0
			margin-top -5px
			border-width 5px 5px 5px 0
			border-right-color #fff
	&.left
		.tooltip-arrow
			top 50%
			right 0
			margin-top -5px
			border-width 5px 0 5px 5px
			border-left-color #fff
	&.bottom
		.tooltip-arrow
			top 0
			left 50%
			margin-left -5px
			border-width 0 5px 5px
			border-bottom-color #fff
	&.bottom-left
		.tooltip-arrow
			top 0
			left 5px
			border-width 0 5px 5px
			border-bottom-color #fff
	&.bottom-right
		.tooltip-arrow
			top 0
			right 5px
			border-width 0 5px 5px
			border-bottom-color #fff

.nano
	position relative
	width 100%
	height 100%
	overflow hidden
	> .nano-content
		position absolute
		overflow scroll
		overflow-x hidden
		top 0
		right 0 !important
		bottom 0
		left 0
		padding-right 12px
		&:focus
			outline thin dotted
		&::-webkit-scrollbar
			display none
	> .nano-pane
		background transparent
		position absolute
		width 12px
		right 0
		top 0
		bottom 0
		visibility visible
		opacity 1
		-webkit-transition .2s
		-moz-transition .2s
		-o-transition .2s
		transition .2s
		-moz-border-radius 5px
		-webkit-border-radius 5px
		border-radius 5px
		&:before
			content ""
			display block
			position absolute
			top 0
			left 50%
			width 1px
			height 100%
			z-index 0
			background rgba(60,60,59,0.7)
		> .nano-slider
			background #FF8A00
			background rgba(255, 138, 0, 1)
			position relative
			margin 0 1px
			-moz-border-radius 3px
			-webkit-border-radius 3px
			border-radius 3px
	&:hover > .nano-pane
	.nano-pane.active
	.nano-pane.flashed
		visibility visible
		opacity 0.99
