body *
html *
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)
	box-sizing border-box
a
	text-decoration none
	color inherit
img
	display block
	width auto
	max-width 100%
	height auto
	&.auto
		margin-left auto
		margin-right auto
	&.autoright
		margin-left auto
	&.autoleft
		margin-right auto
	&.size-full
		width 100%
fieldset
	margin 0
	border 0
	padding 10px 10px 0px 10px
figure
	margin-left 0
	margin-right 0
	margin-top 1em
	margin-bottom 1em
table
	&.v-align
		height 100%
		width 100%
		table-layout fixed
		tbody tr
			vertical-align middle
			width 768px
			margin-right auto
.column_2
	-moz-column-count 2
	-webkit-column-count 2
	column-count 2
	-moz-column-gap 20px
	-webkit-column-gap 20px
	column-gap 20px
	> *
		-webkit-column-break-inside avoid
		page-break-inside avoid
		break-inside avoid
.table
	width 100%
	display table
	height 100%
	table-layout fixed
	.table-cell
		display table-cell
		vertical-align middle
	.align-top
		vertical-align top
		text-align center
	.align-top-left
		vertical-align top
		text-align left
	.align-top-right
		vertical-align top
		text-align right
	.align-bot
		vertical-align bottom
		text-align center
	.align-bot-left
		vertical-align bottom
		text-align left
	.align-bot-right
		vertical-align bottom
		text-align right
	.align-left
		text-align left
	.align-right
		text-align right
	.align-center
		text-align center
.flex
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-align-items center
	-ms-flex-align center
	align-items center
	-webkit-flex-flow row wrap
	-ms-flex-flow row wrap
	flex-flow row wrap
	.flex-center
		-webkit-align-self center
		-ms-flex-item-align center
		align-self center
		max-width 100%
	.full-width
		width 100%
address
	display block
	margin-bottom 20px
.absolute
	position absolute
.clearfix
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
.block
	display block
.inline
	display inline
.inline-block
	display inline-block
.inline-block-middle
	display inline-block
	vertical-align middle
.left
	float left !important
for i in (1..12)
	.lg_{i}
		col-width(i)
		float left
		min-height 1px
		&.padding
			padding-left 20px
			padding-right 20px
.row
	margin-left -20px
	margin-right -20px
.z-index
	z-index 10
.relative
	position relative !important
.right
	float right !important
.text-center
	text-align center !important
.text-left
	text-align left !important
.text-right
	text-align right !important
.text-uppercase
	text-transform uppercase !important
.text-lowercase
	text-transform lowercase !important
.text-normal
	text-transform none !important
.text-bold
	font-weight bold !important
// .text-warning
// 	color c_warning !important
// .text-error
// 	color c_error !important
// .text-info
// 	color c_info !important
// .text-success
// 	color c_success !important
.overhide
	overflow hidden !important
.alpha
	font-size font-size-alpha
.beta
	font-size font-size-beta
.gamma
	font-size font-size-gamma
blockquote
	padding 10px 20px
	margin 0 0 20px
	// font-size 17.5px
	border-left 5px solid #eee
	small
		display block
		font-size 80%
		line-height 1.42857
h1
.h1
	font-size 45px
	line-height 1.2em
	font-weight normal
	color inherit
h2
.h2
	font-size 40px
	line-height 1.2em
	font-weight normal
	color inherit
h3
.h3
	font-size 30px
	line-height 1.2em
	font-weight normal
	color inherit
h4
.h4
	font-size 25px
	line-height 1.2em
	font-weight normal
	color inherit
h5
.h5
	font-size 20px
	line-height 1.2em
	font-weight normal
	color inherit
h6
.h6
	font-size 18px
	line-height 1.2em
	font-weight normal
	color inherit
.hidden-lg
.hidden-md
.hidden-sm
.hidden-xs
	display block !important
	visibility visible
.visible-lg
.visible-md
.visible-sm
.visible-xs
	display none !important
	visibility hidden
.open-modal
	cursor pointer
.modalbox
	//background rgba(255,255,255,0.8)
	position fixed
	z-index 9999
	top 0
	right 0
	left 0
	bottom 0
	height 100%
	overflow auto
	display none
	width 100%
	&.animated
		display block
	.table-cell
		table-layout fixed
	.content
		max-width 1130px
		position relative
		margin 0 auto
		text-align left
		overflow hidden
		padding 50px 60px
	.close-modal
		color c_dark
		font-family Helvetica,arial,sans-serif
		font-size 20px
		line-height 1em
		color c_violet
		display block
		position absolute
		top 10px
		right 10px
		z-index 5
		cursor pointer
	.close
		position absolute
		top 8px
		right 8px
		padding 4px
		border-radius 4px
		color c_white
		cursor pointer
		font-size 18px
		z-index 10
	&[data-modal="eventos"]
		.content
			padding 30px 0
			background c_white
			color c_black
			max-width 320px
		.title
			font-size 30px
			margin 10px 0
	&[data-modal="gallery"]
		.content
			max-width 800px
			padding 0
			background transparent
	&[data-modal="video"]
		.content
			max-width 1000px
			padding 0
			background transparent
		.video
			margin 0
			width 100%
			padding-bottom 56.92%
			position relative
		.iframe
			position absolute
			width 100%
			height 100%
			left 0px
			top 0px
for i in (0..20)
	.p{i}0
		padding i*10px !important
for i in (0..20)
	.pl{i}0
		padding-left i*10px !important
for i in (0..20)
	.pr{i}0
		padding-right i*10px !important
for i in (0..20)
	.pt{i}0
		padding-top i*10px !important
for i in (0..20)
	.pb{i}0
		padding-bottom i*10px !important
for i in (0..20)
	.ph{i}0
		padding-left i*10px !important
		padding-right i*10px !important
for i in (0..20)
	.pv{i}0
		padding-top i*10px !important
		padding-bottom i*10px !important

for i in (0..20)
	.m{i}0
		margin i*10px !important
for i in (0..20)
	.ml{i}0
		margin-left i*10px !important
for i in (0..20)
	.mr{i}0
		margin-right i*10px !important
for i in (0..20)
	.mt{i}0
		margin-top i*10px !important
for i in (0..20)
	.mb{i}0
		margin-bottom i*10px !important
for i in (0..20)
	.mh{i}0
		margin-left i*10px !important
		margin-right i*10px !important
for i in (0..20)
	.mv{i}0
		margin-top i*10px !important
		margin-bottom i*10px !important

@media all and (max-width window-lg)
	.hidden-lg
		display none !important
		visibility hidden

	.visible-lg
		display inherit !important
		visibility visible
	for i in (1..12)
		.lg_{i}
			width 100%

	for i in (1..12)
		.md_{i}
			col-width(i)
			float left
			&.inline-block
				float none
				display inline-block
				vertical-align top
				margin-left -4px

@media all and (max-width window-md)

	.hidden-md
		display none !important
		visibility hidden

	.visible-md
		display inherit !important
		visibility visible
		&.inline
			display inline-block !important
	for i in (1..12)
		.md_{i}
			width 100%
	for i in (1..12)
		.sm_{i}
			col-width(i)
			float left
			&.inline-block
				float none
				display inline-block
				vertical-align top
				margin-left -4px

@media all and (max-width window-sm)

	.hidden-sm
		display none !important
		visibility hidden

	.visible-sm
		display inherit !important
		visibility visible
	for i in (1..12)
		.sm_{i}
			width 100%

	for i in (1..12)
		.xs_{i}
			col-width(i)
			float left
			&.inline-block
				float none
				display inline-block
				vertical-align top
				margin-left -4px

@media all and (max-width window-xs)
	for i in (1..12)
		.xs_{i}
			width 100%
	.hidden-xs
		display none !important
		visibility hidden

	.visible-xs
		display inherit !important
		visibility visible

#ui-datepicker-div
	font-size 15px
