font-source(data)
	font-family data
	src url('/public/fonts/'+data+'.woff2') format('woff2'),
		url('/public/fonts/'+data+'.woff') format('woff')
	font-weight normal
	font-style normal

font-sourceName(name,weight,data)
	font-family name
	src url('/public/fonts/'+data+'.woff2') format('woff2'),
		url('/public/fonts/'+data+'.woff') format('woff')
	font-weight weight
	font-style normal

font-sourceOld(data)
	font-family data
	src url('/public/fonts/'+data+'.eot')
	src url('/public/fonts/'+data+'.eot?#iefix') format('embedded-opentype'), url('/public/fonts/'+data+'.woff') format('woff'), url('/public/fonts/'+data+'.ttf') format('truetype'), url('/public/fonts/'+data+'.svg') format('svg')
	font-weight normal

col-width(data)
	width (data*(100/12))+'%'

square(data)
	width data
	height data

clearfix()
	&:before
	&:after
		visibility hidden
		display block
		font-size 0
		content " "
		height 0
	&:after
		clear both

transition(parameters)
	-webkit-transition parameters
	-moz-transition parameters
	-ms-transition parameters
	-o-transition parameters
	transition parameters

transition2(state=all, number=.3, property=ease, complement='')
	-webkit-transition state + ' ' +number+'s ' + property +' '+ complement
	-moz-transition state + ' ' +number+'s ' + property +' '+ complement
	-ms-transition state + ' ' +number+'s ' + property +' '+ complement
	-o-transition state + ' ' +number+'s ' + property +' '+ complement
	transition state + ' ' +number+'s ' + property +' '+ complement

core-options(prop,args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args

degraded(color1,color2)
	background color1
	background -moz-linear-gradient(top, color1 0%, color2 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(), col-stop(0%, color1), color-stop(100%, color2))
	background -webkit-linear-gradient(top, color1 0%, color2 100%)
	background -o-linear-gradient(top, color1 0%, color2 100%)
	background -ms-linear-gradient(top, color1 0%, color2 100%)
	background linear-gradient(to bottom, color1 0%, color2 100%)

animateNone(parameters = '')
	animation none parameters
	-webkit-animation none parameters
	-moz-animation none parameters
	-o-animation none parameters
	-ms-animation none parameters

animate(animate, parameters)
	animation animate parameters
	-webkit-animation animate parameters
	-moz-animation animate parameters
	-o-animation animate parameters
	-ms-animation animate parameters

transform(transform_arguments)
	-webkit-transform transform_arguments
	-moz-transform transform_arguments
	-ms-transform transform_arguments
	-o-transform transform_arguments
	transform transform_arguments

cross-properties(properties, arguments)
	-webkit-{properties} arguments
	-moz-{properties} arguments
	-ms-{properties} arguments
	-o-{properties} arguments
	{properties} arguments

flexcreator(properties)
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-flex-direction row
	-ms-flex-direction row
	flex-direction row
	-webkit-flex-wrap nowrap
	-ms-flex-wrap nowrap
	flex-wrap nowrap
	-webkit-flex-flow row wrap
	-ms-flex-flow row wrap
	flex-flow row wrap
	-webkit-justify-content flex-start
	-ms-flex-pack start
	justify-content flex-start
	-webkit-align-content stretch
	-ms-flex-line-pack stretch
	align-content stretch
	-webkit-align-items center
	-ms-flex-align center
	align-items center

flexcreatorClid(properties)
	-ms-flex-order 0
	webkit-order 0
	order 0
	-webkit-flex 0 1 auto
	-ms-flex 0 1 auto
	flex 0 1 auto
	-webkit-align-self auto
	-ms-flex-item-align auto
	align-self auto
// calc(prop, val)
// 	calc-vendors = webkit moz

// 	if current-property
// 		val = unquote(val)
// 	add-property
// 	{prop} "-webkit-calc("+val+")"
// 	{prop} "-moz-calc("+val+")"
// 	{prop} "calc("+val+")"
