html
body
	height 100%
	font-family 'Open Sans', Helvetica, Arial, Sans-serif
	font-weight 400
	font-size 14px
	line-height 1.2em
	color c_dark
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
p
	margin 1em 0
b
strong
	font-weight 600
[data-animate]
	opacity 0
.wrapper
	position relative
	display block
	min-height 100%
	width 100%
	overflow hidden
	background white
	padding 0
.container
	display block
	max-width 1200px
	padding 0
	margin 0 auto
	position relative
	z-index 1
	clearfix()
.ctrl-nav
	display none
	width 50px
	height 50px
	float right
	z-index 1
	cursor pointer
	margin-top 0
	position relative
	right 0
	top 0
	background c_blue_dark
	padding 5px
	clearfix()
	&:after
		content ''
		margin-left 5px
		width 0%
		height 5px
		background c_white
		display block
		transform(rotate(45deg))
		core-options(transform-origin, 0 0)
		transition(all .3s ease .2s)
		position absolute
		visibility visible
		top 6px
	&:before
		content ''
		margin-left 5px
		width 0%
		height 5px
		background c_white
		display block
		transform(rotate(-45deg))
		core-options(transform-origin, 0 100%)
		transition(all .3s ease )
		position absolute
		visibility visible
		top 40px
	span
		display block
		width 100%
		height 5px
		margin-bottom 5px
		clearfix()
		&:after
			content ''
			display block
			width 100%
			height 100%
			background c_white
			visibility visible
			float right
		&:first-child
			margin-top 8px
			&:after
				transition(all .3s ease .3s)
		&:nth-child(2)
			&:after
				transition(all .3s ease .4s)
		&:nth-child(3)
			&:after
				transition(all .3s ease .5s)
	&.active
		&:before
			width 100%
			transition(width 0.3s cubic-bezier(0.77, 0, 0.175, 1) .3s)
		&:after
			width 100%
			transition(width 0.3s cubic-bezier(0.77, 0, 0.175, 1) .4s)
		span
			&:after
				width 0px
			&:first-child
				&:after
					transition(width 0.3s cubic-bezier(0.77, 0, 0.175, 1) )
			&:nth-child(2)
				&:after
					transition(width 0.3s cubic-bezier(0.77, 0, 0.175, 1) .1s)
			&:nth-child(3)
				&:after
					transition(width 0.3s cubic-bezier(0.77, 0, 0.175, 1) .2s)
.main-nav
	display block
	margin 0 auto
	padding 0
	border-bottom 1px solid c_gray
	position fixed
	left 0
	right 0
	background c_white
	.menu-nav
		display block
		position relative
		width 100%
		font-size 0
	.logo
		display inline-block
		vertical-align middle
		max-width 240px
	nav
		display inline-block
		vertical-align middle
		font-size 18px
		line-height 1.2em
		width -webkit-calc(100% - 240px)
		width -moz-calc(100% - 240px)
		width calc(100% - 240px)
		> ul
			display -ms-flexbox
			display -webkit-flex
			display flex
			-webkit-flex-flow row wrap
			-ms-flex-flow row wrap
			flex-flow row wrap
			-webkit-justify-content flex-end
			-ms-flex-pack end
			justify-content flex-end
			margin 0
			padding 0
			width 100%
		.parent-link
			display block
			position relative
			&:hover
				> a
					span 
						background c_blue_dark
						color c_white
				> ul
					height auto
					padding 10px
					border-width 1px
			> .icon-arrow-down
				display none
			> a
				.icon
					&:before
						margin 0
						margin-right 10px
				span
					display block
					text-transform uppercase
					padding 20px
					background c_white
					color c_blue_dark
					border-left 1px solid c_gray
					transition2()
					&:hover
						transition2()
						background c_blue_dark
						color c_white
			> ul
				position absolute
				padding 0
				right 0
				width auto
				background c_white
				color c_blue_dark
				overflow hidden
				min-width 200px
				height 0
				border 0 solid c_gray2
				li
					display block
				span
					display block
					padding 5px 10px
					border-bottom 1px solid rgba(255,255,255,.3)
					font-size 15px
					line-height 1.2em
					text-transform capitalize
					transition2()
					&:hover
						transition2()
						background c_blue_dark
						color c_white
				ul
					padding-left 20px
					border-left 1px solid c_white
		.dropdown
			position relative
			&:hover
				> ul
					max-height 300px
				> a
					span
						background c_blue_dark
						color c_white
				> .icon
					color c_white
			> ul
				max-height 0px
				overflow hidden
			> .icon
				position absolute
				right 0
				top 0
				width 30px
				height 29px
				text-align center
				cursor pointer
				&:before
					font-size 15px
					line-height 30px

@media all and (max-width 1024px)
	.main-nav
		.logo
			max-width 200px
			margin-left 20px
		nav
			width -webkit-calc(100% - 220px)
			width -moz-calc(100% - 220px)
			width calc(100% - 220px)
@media all and (max-width 720px)
	.ctrl-nav
		display block
	.main-nav
		.logo
			margin 9px 10px
		nav 
			display none
			width 100%
			> ul
				display block
				width 100%
			.parent-link
				>ul
					padding 10px
				> .icon-arrow-down
					display block
					color c_blue_dark
					position absolute
					top 0
					right 10px
					margin-top 16px
			&.mobile-active
				display block
				width 100%
			.dropdown
				> ul
					max-height initial 
					height initial 
					display none
					position relative
						